@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before{
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  z-index: 1;
}

body{
  background-color: white;
}

a, a:active, a:visited{
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

input{
  outline: none;
}